In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nogliki,RU,2021-07-21 14:17:04,51.8333,143.1667,58.14,95,49,7.74
1,1,Kavieng,PG,2021-07-21 14:17:04,-2.5744,150.7967,81.93,79,97,10.16
2,2,Nikolskoye,RU,2021-07-21 14:17:04,59.7035,30.7861,73.40,34,70,9.26
3,3,Nenjiang,CN,2021-07-21 14:17:05,49.1833,125.2167,74.50,88,57,4.21
4,4,Celestun,MX,2021-07-21 14:17:05,20.8667,-90.4000,80.78,78,3,9.42

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
22,22,Ende,ID,2021-07-21 14:17:09,-8.8432,121.6623,75.83,85,46,2.66
30,30,Muros,ES,2021-07-21 14:17:12,42.7762,-9.0603,75.99,77,71,13.33
35,35,Kapaa,US,2021-07-21 14:17:13,22.0752,-159.3190,75.52,84,75,3.00
47,47,Tiarei,PF,2021-07-21 14:17:16,-17.5333,-149.3333,75.22,80,33,20.13
48,48,Hilo,US,2021-07-21 14:16:12,19.7297,-155.0900,75.27,90,90,5.75
49,49,Suriapet,IN,2021-07-21 14:17:17,17.1500,79.6167,75.47,88,100,13.22
56,56,Hudiksvall,SE,2021-07-21 14:17:19,61.7290,17.1036,76.51,32,13,4.72
57,57,Leua,SK,2021-07-21 14:17:19,48.2156,18.6071,79.11,31,36,7.65
63,63,Atuona,PF,2021-07-21 14:15:16,-9.8000,-139.0333,77.43,69,100,20.45
65,65,Bethel,US,2021-07-21 14:17:21,41.3712,-73.4140,78.12,77,75,5.75

In [10]:
preferred_cities_df.count()

City_ID       96
City          96
Country       96
Date          96
Lat           96
Lng           96
Max Temp      96
Humidity      96
Cloudiness    96
Wind Speed    96
dtype: int64

In [11]:
preferred_cities_df = preferred_cities_df.dropna()

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
22        Ende      ID     75.83  -8.8432  121.6623
30       Muros      ES     75.99  42.7762   -9.0603
35       Kapaa      US     75.52  22.0752 -159.3190
47      Tiarei      PF     75.22 -17.5333 -149.3333
48        Hilo      US     75.27  19.7297 -155.0900
49    Suriapet      IN     75.47  17.1500   79.6167
56  Hudiksvall      SE     76.51  61.7290   17.1036
57        Leua      SK     79.11  48.2156   18.6071
63      Atuona      PF     77.43  -9.8000 -139.0333
65      Bethel      US     78.12  41.3712  -73.4140

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [15]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
22        Ende      ID     75.83  -8.8432  121.6623
30       Muros      ES     75.99  42.7762   -9.0603
35       Kapaa      US     75.52  22.0752 -159.3190
47      Tiarei      PF     75.22 -17.5333 -149.3333
48        Hilo      US     75.27  19.7297 -155.0900
49    Suriapet      IN     75.47  17.1500   79.6167
56  Hudiksvall      SE     76.51  61.7290   17.1036
57        Leua      SK     79.11  48.2156   18.6071
63      Atuona      PF     77.43  -9.8000 -139.0333
65      Bethel      US     78.12  41.3712  -73.4140

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))